In [21]:
import sqlite3
import datetime

In [22]:
conn = sqlite3.connect('user.db')
conn.execute("create table user (name text, timestamp timestamp)")
conn.close()

In [23]:
conn = sqlite3.connect('user.db')
c = conn.cursor()
c.execute("select * from user")
print(c.description)
c.close()
conn.close()

(('name', None, None, None, None, None, None), ('timestamp', None, None, None, None, None, None))

In [27]:
t = datetime.datetime.now()
name =input("name: ")
t

name: AA

datetime.datetime(2025, 3, 14, 12, 23, 24, 244133)

In [28]:
conn = sqlite3.connect('user.db')
c = conn.cursor()
c.execute("insert into user (name, timestamp) values (?,?)", (name, t))
conn.commit()
c.close()
conn.close()

In [36]:
conn = sqlite3.connect('user.db')
c = conn.cursor()
c.execute("select * from user")
r = ""
for row in c.fetchall():
    r += str(row) + "\n"
print(r)
c.close()
conn.close()

In [35]:
conn = sqlite3.connect('user.db')
c = conn.cursor()
c.execute("delete from user")
conn.commit()
c.close()
conn.close()